@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
   
}
#sessao3{
 background-color: #202626;
padding: 30px;
 
}
.ogr{
width: 80%;
margin: 0 auto;
 display: flex;
 justify-content: space-between;
}
.sessao3{
      color: white;
}
#texto{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
#texto h2{
    padding-bottom: 5px;
    font-size: 26px;
}
#texto p{
    padding-top: 20px;
    padding-left: 5px;
}


.img img{
    width: 530px;
    height: 522px;
}